In [1]:
from glob import glob
import pandas as pd
from data.subjects_to_keep import subjects_to_keep as users
from data.data_path import data_path

In [4]:
u = users[0]
file = glob(f"{data_path}/dump_latest/{u}_activity*.csv")[0]

df = pd.read_csv(file, index_col=0)
df.head()

,user,id,dt,dt_last_boot,step_last_boot,step_midnight
0,02MY,59488,2023-06-26 14:20:13.635000+0000,2023-06-26 06:19:41.489000+0000,404,0
1,02MY,212932,2023-06-26 16:48:14.761000+0000,2023-06-26 06:19:41.489000+0000,411,7
2,02MY,212933,2023-06-26 16:48:15.230000+0000,2023-06-26 06:19:41.489000+0000,412,8
3,02MY,212934,2023-06-26 16:48:15.950000+0000,2023-06-26 06:19:41.488000+0000,413,9
4,02MY,212935,2023-06-26 16:48:16.510000+0000,2023-06-26 06:19:41.489000+0000,414,10